.container {
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background-color: gray;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    display: contents;
}

.wrapper {
    /*border: 1px solid black;*/
    position: absolute;
    width: 413px;
    height: 600px;
    /*left: 434px;*/
    top: 160px;

    background: #c6c6f1;
    border-radius: 8px;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    /*align-items: center;*/
}

.header {
    text-align: center;
}

.button {
    width: 70%;
    background-color: blue;
    /*border-radius: 10px;*/
    padding: 7px;
    color: silver;
    border: none;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.link {
    color: blue;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

input {
    height: 20px;
    width: 300px;
    border: none;
    outline: none;
    background-color: #c6c6f1;
    border-bottom: 2px solid #878787;
}

label {
    color: #878787;
    font-size: 10px;
}

.checkbox {
    width: 30px;
}

/*input ::after {*/
/*    content: 'line';*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: black;*/
/*}*/

